.navbar {
  background: #1e3c72;
  color: white;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-right a:hover {
  text-decoration: underline;
}

.nav-left span {
  font-weight: bold;
}

.nav-center {
  font-weight: bold;
}
